@font-face {
  font-family: myFirstFont;
  src: url(digital-7.ttf);
}


body {

  margin: auto;
  padding: 15%;
  font-family: myFirstFont;
  font-size: 60px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: url(bg.jpg);
  background-size: 100%;
}

code {
  font-family: digital-7;
}


